p {
  color: red;
    animation: pulse 3s infinite;
  }
  
  @keyframes pulse {
    0%{
      font-size: 200px;
    }
    50%{
      font-size: 300px;
    }
    100%{
      font-size: 200px;
    }
  }